.about-me {
    max-width: 1150px;
    margin: 80px auto;
}
.about-me h1 {
    max-width: 720px;
}

.about-me-columns {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr;

    align-items: center;
    justify-items: center;

    gap: 40px;
}

.about-me h1 {
    display: block;
}

.about-me video {
    max-width: 100%;
    max-height: 400px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: rgba(2, 0, 60, 0.2) 0px 2px 20px;
}




/* -------------------- styles for tablets -------------------- */
@media only screen and (max-device-width: 767px) {
    .about-me-columns {
        grid-template-columns: 1fr;
    }
}

/* -------------------- styles for mobile devices -------------------- */
@media only screen and (max-device-width: 480px) {
    
}
  

