

/* ------------------------------------------------------------------------ */
/* HEADER */

header {
    background: linear-gradient(to right, rgb(0, 25, 89), rgb(0, 3, 51));
    max-width: 100%;
    height: fit-content;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    inset: 0 0 auto 0;
    z-index: 20;
}


/* --------------------------- */
/* Logo */
.logo-link {
    color: white;
    text-decoration: none;
}
.logo {
    margin-block-start: 0;
    margin-block-end: 0;
}



/* --------------------------- Pc menu --------------------------- */

.links button img {
    width: 20px;
}
.links ul {
    display: flex;
    list-style: none;
    padding: 0px;
    margin-block-end: 0;
    margin-block-start: 0;
}


.links ul li a {
    color: white;
    padding: 10px;
    font-size: 14px;
    text-decoration: none;
    text-align: left;
    margin: 0;
}
.links ul li a:hover {
    border-bottom: 1px solid white;
    font-weight: bold;
}

.links ul li .link-button {
    margin-left: 20px !important;
}


/* --------------------------- Mobile menu --------------------------- */

.mobile-menu-button {
    display: none;
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 50%;
    transition: .2s;
    position: relative;
    z-index: 25;
    border: none;
    padding: 0;
    margin: 0;
}

.mobile-menu-button img {
    width: 20px;
}

.mobile-menu-button:hover {
    transform: scale(1.1);
}
.mobile-menu-button:active {
    transform: scale(.6);
}

.opacity-layer {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: calc(2*100vh);
    background-color: #001d2c4e;
    z-index: 15;
    opacity: 0;
    transition: .2s;
}

.menu-icon {
    width: 28px;
}

.main-menu {
    font-size: 18px;
}
.main-menu-list li {
    list-style: none;
    margin: 20px;
    transition: .2s;
}
.main-menu-list li:hover{
    cursor: pointer;
    transform: scale(1.1);
    border-bottom: 1px solid #00334e;
} 

.hidden {
    display: none;
}





/* -------------------- styles for tablets -------------------- */
@media only screen and (max-device-width: 1000px) {
    header {
        max-width: 100vw;
        padding: 12px;
        margin: 0;
    }
    .mobile-menu-button {
        display: block;
    }
    .links {
        position: absolute;
        right: -40vw;
        top: 0;
        z-index: 20;
        width: 80vw;
        display: grid;
        place-items: start;
        text-align: right;
        justify-content: center;
        height: 100vh;
        background-color: white;
        box-shadow: rgba(100, 100, 111, 0.159) -7px 0px 16px 0px;
        transform: scaleX(0);
        transition: .2s;
    }
    .links ul {
        margin-top: 20vh;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
    }
    .links ul li {
        padding: 20px;
    }
    .links ul li a{
        display: block;
        color: var(--dark);
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }

    .links ul li .link-button {
        background-color: var(--dark);
        color: white !important;
        margin-left: 0 !important;
    }
}

/* -------------------- styles for mobile devices -------------------- */
@media only screen and (max-device-width: 480px) {
    
}
  

