.hero {
    background: linear-gradient(45deg, rgba(0, 8, 28, 0.6), rgba(0, 8, 28, 0.8)), url('../media/imagen_4.jpg');
    background-color: rgba(0, 8, 28, 0.6);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 80vh;
    color: white;

    text-shadow: rgba(0, 4, 60, 0.561) 2px 2px 6px;
    
}

.hero h2 {
    font-style: oblique;
}

.hero h1 {
    margin: 20px;
    font-size: 42px;
    font-weight: 900;
    max-width: 800px;
    /* font-family: 'Abril Fatface'; */
    line-height: 1.2em;
}

.hero p {
    padding-bottom: 20px;
}



/* -------------------- styles for tablets -------------------- */
@media only screen and (max-device-width: 767px) {
    .hero {
        text-align: left;
    }
    .hero h1 {
        font-size: 36px;
        margin: 0;
        width: auto;
    }
    .hero .content .link-button {
        float: right;
    }
}

/* -------------------- styles for mobile devices -------------------- */
@media only screen and (max-device-width: 480px) {
    
}
  


