
.info {
    display: block;
    max-width: 1080px;
    margin: 140px auto;
}

.info p {
    margin: 20px 0;
}


.info-elements {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 480px));
    -ms-grid-row-align: center;
    gap: 40px;
    margin-top: 60px;
    justify-content: center;
    justify-items: center;
}


.info-elements div {
    padding: 40px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 24px;
}




/* -------------------- styles for tablets -------------------- */
@media only screen and (max-device-width: 767px) {
    
}

/* -------------------- styles for mobile devices -------------------- */
@media only screen and (max-device-width: 480px) {
    
}
  

