
:root {
    --dark: rgb(0, 9, 43);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    color: var(--dark);
    width: 100vw;
    overflow-x: hidden !important;
}

/* ------------------------------------------------------------------------ */
/* GENERAL STYLES */

h1 {
    font-family: Montserrat;
    font-size: 38px;
    font-weight: 900;
    line-height: 1.2em;
}

h2 {
    font-family: Montserrat;
    font-weight: bold;
    line-height: 1.4em;
}

h3 {
    line-height: 1.4em;
}


p {
    line-height: 1.5em;
}

video {
    z-index: 10;
}


.info-top-banner {
    max-width: 100vw;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    color: white;
    background-color: rgb(0, 106, 255);
}


p {
    font-size: 16px;
}



.link-button {
    padding: 8px 20px;
    margin-top: 40px;
    color: var(--dark) !important;
    background-color: white;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    align-items: center;
    font-weight: bold;
    text-shadow: none;
}
.link-button:hover {
    background-color: rgb(0, 106, 255);
    color: white !important;
    box-shadow: rgba(255, 255, 255, 0.5) 2px 2px 20px;
    border: none;
}

.blue-button {
    background-color: var(--dark);
    color: white !important;
}

.white-button {
    background-color: white;
    color: var(--dark) !important;

}

/* ------------------------------------------------------------------------ */
/* FOOTER */

footer {
    background: linear-gradient(45deg, rgba(0, 8, 28, 0.6), rgba(0, 8, 28, 0.8)), url('../media/img3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: white;
    padding: 60px;
}

.footer-content {
    max-width: 800px;
    width: 90vw;
    margin: 60px auto;
}

.footer-contact-link {
    margin: 40px 20px;
}

.footer-contact-link .link-button {
    margin: 0;
}

.water-mark {
    padding: 8px 40px;
    text-align: right;
    background-color: rgb(0, 0, 20);
}
.water-mark p {
    margin: 0;
    color: white;
    font-size: 12px;
}




/* -------------------- styles for tablets -------------------- */
@media only screen and (max-device-width: 1000px) {
    .info-top-banner {
        display: none;
    }
    body {
        max-width: 100vw;
    }

    .info-top-banner {
        width: 100vw;
    }

    section {
        max-width: 100vw;
        margin: 0;
        padding: 20px;
    }

    footer {
        padding: 20px;
        height: 80vh;
        display: grid;
        place-items: center;
    }
}

/* -------------------- styles for mobile devices -------------------- */
@media only screen and (max-device-width: 480px) {
    
}
  

