.testimonials {
    max-width: 1150px;
    margin: 80px auto;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
}

.testimonials h1 {
    max-width: 720px;

}
.testimonials h2 {
    max-width: 800px;
    font-size: 20px;
    font-weight: 400;
}

.testimonials-videos {
    margin-top: 60px;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    justify-items: center;
}

.video-item {
    margin: 10px;
    height: auto;
    width: auto;
    max-width: 100%;
    text-align: center;
  }

.video-item video {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: contain;
    box-shadow: rgba(2, 0, 60, 0.2) 0px 2px 20px;
}

.testimonials a {
    justify-self: right;
    width: fit-content;
}



/* -------------------- styles for tablets -------------------- */
@media only screen and (max-device-width: 767px) {
    .testimonials-videos {
        display: block;
        margin-top: 20px;
    }

    .video-item {
        margin-top: 40px;
    }
    
}

/* -------------------- styles for mobile devices -------------------- */
@media only screen and (max-device-width: 480px) {
    
}
  

