

.tv-appareance {
    display: grid;
    place-items: center;
    padding: 80px 20px;
    background: linear-gradient(to right, rgb(0, 25, 89), rgb(0, 3, 51));
    color: white;
}

.tv-appareance h1 {
    max-width: 600px;
    text-align: center;
}
.tv-appareance h1 img {
    margin-bottom: -18px;
}

.tv-appareance-content {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    max-width: 1150px;
    margin-top: 80px;
}

.tv-appareance-content div {
}

.tv-appareance-content div video {
    margin-top: 20px;
    border-radius: 8px;
    width: 800px;
    max-width: 90vw;
}

.separator {
    width: 200px;
    height: 2px;
    background-color: white;
}